@import url(/src/css/Colors.css);

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(var(--red), var(--orange));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-question {
  width: 70vw;
  margin: 30px auto;
  overflow: auto;
  min-height: 150px;
  padding: 30px;
  border-radius: 5px;
  align-items: center;
  background-color: white;
  color: black;
}

.App-link {
  color: var(--mango);
}
